django==1.9
psycopg2
gunicorn
requests
djangorestframework
django-rest-swagger
django-filter

## dev requirements
mock
responses
ipdb
ipython

## Test and quality analysis

pylint
coverage
django-jenkins
django-extensions
django-cors-headers
